/*new one*/

.section {
    max-width: 800px;
    /*min-width: 360px;*/
    margin: auto;
}

.section>h1 {
    margin-top: 48px;
    margin-bottom: 32px;
    padding: 8px;
    background-color: #0087cb;
    color: white;
}

.banner-section {

}

.banner {
    width: 400px;
    padding: 32px 0;
    margin: 16px auto;
}

#header {
    font-weight: bold;
}

#engine-moto {
    font-size: 24px;
}

#creators {
    padding: 64px 0;
    background-color: #000011;
    width: 100%;
    color: #e0e0e0;
}


body {
    margin: 0;
    padding: 0;
    /*font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;*/
    background-color: #E0E0E0;
}

ul>li {
    margin: 32px 0;
}

a:hover {
    color: #d00870;
}


.back-to-top {
    margin-top: 16px;
    margin-bottom: 16px;
}

/*old one*/

.header-list {
    list-style: none;
    padding-left: 8px;
}

.header-list-item {
    display: inline;
    list-style-type: none;
    padding-right: 16px;
}

.download-btn {
    width: 200px;
    height: 32px;
    background-color: #006400;
    border-radius: 8px;
}

.download-title {
    text-align: center;
    margin: 4px auto;
}

.copy-right {
    text-align: center;
    font-size: small;
}

.features-list{
    list-style-type: none;
    padding: 8px;
}

.feature-title {
    font-size: larger;
    font-weight: bold;
}

.demo-title {
    font-size: larger;
    font-weight: bold;
}

/* Desktop */
@media (min-width: 641px) {
    .download-btns {
        float: right;
    }
    .github-btn {
        float: left;
    }
}

/* Mobile */
@media (max-width: 641px) {
    .download-btns {
        margin: 0 auto;
        width: 200px;
    }
    .github-btn {
        margin: 0 auto;
        width: 126px;
    }
    .banner {
        width: 100%;
    }
}